##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
# 
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################


MainFile           C:\TFwork\Models\CalLite\Corrob_July2013\CalLite_SacSJR_072213\Run\main_BO.wresl
Solver             XA
DvarFile           C:\TFwork\Models\CalLite\Corrob_July2013\CalLite_SacSJR_072213\DSS\CL_FUTURE_BO_dynSJR_wSLWRICODEoff_DV.DSS
SvarFile           C:\TFwork\Models\CalLite\Corrob_July2013\CalLite_SacSJR_072213\DSS\2020D09E_061013_SV.dss
GroundwaterDir     C:\TFwork\Models\CalLite\Code_devmt\SJR\CalLite_SacSJR_051413\\
SvarAPart          CALSIM
SvarFPart          2020D09E
InitFile           C:\TFwork\Models\CalLite\Corrob_July2013\CalLite_SacSJR_072213\DSS\CalLite2020D09EINIT.dss
InitFPart          2020D09E
TimeStep           1MON
StartYear          1921
StartMonth         10
StartDay           31
StopYear           2003
StopMonth          9
StopDay            30
IlpLog             No
IlpLogFormat       None
IlpLogVarValue     No
WreslPlus          yes
