<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="wpp.launchType">
<stringAttribute key="wpp.debugModel.ATTR_WPP_APART" value="CALSIM"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_AUTHOR" value="Nazrul Islam"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_DVAR" value="\DSS\CL_FUTURE_BO_DRR_040413_W2_DV.DSS"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_ENDDAY" value="31"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_ENDMONTH" value="sep"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_ENDYEAR" value="2003"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_INIT" value="\DSS\CalLite2020D09EINIT.dss"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_INITFPART" value="2020D09E"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_PROGRAM" value="\Run\main_BO_040413.wresl"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_STARTDAY" value="31"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_STARTMONTH" value="oct"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_STARTYEAR" value="1921"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_STUDY" value="CL_SharingFix_Shortage_040413_W2"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_SVAR" value="\DSS\CL_FUTURE_BO_032813_SV.DSS"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_SVFPART" value="2020D09E"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_TIMESTEP" value="1MON"/>
<stringAttribute key="wpp.debugModel.ATTR_WPP_WRESLPLUS" value="no"/>
</launchConfiguration>
