##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
# 
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################


MainFile           run\mainCS2CL.wresl
Solver             XA
DvarFile           DSS\CL_D1485_20130923_SV.dss
SvarFile           DSS\CS_D1485_20130923_DVSV.dss
SvarAPart          CALSIM
SvarFPart          2020D09E
InitFile           CalSimDSS\2020D09EINIT.DSS
InitFPart          2020D09E
TimeStep           1MON
StartYear          1920
StartMonth         10
StopYear           2004
StopMonth          9
IlpLog             No
IlpLogFormat       LpSolve
IlpLogVarValue     No
